html {
    /* Prevent padding from extra width or extra hight to page */
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Always stretch the background at least the full height of the screen even if the content isn't enough to take up the full height of the screen */
    min-height: 100vh;
}